<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<!-- Toolbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink='/About' routerLinkActive="sa" class="nav-link">About Page</a>
          </li>
          <li class="nav-item">
            <a routerLink='/Covid'  routerLinkActive="sa" class="nav-link">Covid19</a>
          </li>
          <li class="nav-item">
            <a routerLink='/form'  routerLinkActive="sa" class="nav-link">Form</a>
          </li>
          <li class="nav-item">
            <a routerLink='/react'  routerLinkActive="sa" class="nav-link">Reactive Forms</a>
          </li>
          <li class="nav-item">
            <a routerLink='/dyamicform'  routerLinkActive="sa" class="nav-link">Dynamic forms</a>
          </li>
          <li class="nav-item">
            <a routerLink='/Blog-li'  routerLinkActive="sa" class="nav-link">Blog Page</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a routerLink='/Employee' class="nav-link">Employee</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
 
      
  <!--<div *ngFor = "let oo of otherchildEvent">{{oo.name}}</div>-->
  <!-- Resources -->

  <!--   <app-serviceurl></app-serviceurl>
 <app-covid></app-covid>
     <app-service-get></app-service-get> 
    
    <app-services></app-services>
    <app-pipe></app-pipe>
    <app-componentiteraction (otherchildevent)="otherchildEvent = $event" (childevent)="childEvent= $event"[parentData]="sendtochild" [parentData]="otherchild"></app-componentiteraction>
    <app-eventbinding></app-eventbinding>
    <div app-binding></div>
    <app-structural-directive></app-structural-directive>
    <app-interpolation></app-interpolation>
    <app-text></app-text>
    <div class="app-test"></div>-->

   
 
<router-outlet></router-outlet>